# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv

# Data and models
data/
models/

# OS files
.DS_Store
Thumbs.db
